.custom-dashed-border {
    -fx-fill: transparent;
    -fx-stroke: #e4ebe9;
    -fx-stroke-width: 4;
    -fx-stroke-dash-array: 12 12 12 12;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}