.custom-dashed-border_mainPage {
    -fx-fill: transparent;
    -fx-stroke: #b7d5ca;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 6 6 6 6;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
    
}